@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Orbitron:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

.image

.text {
  font-size: 20px;
  text-align: center;
  padding-left: 5%;
}

/* Navigation Bar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  background: white;
}

nav ul {
  display: flex;
  list-style: none;
}

nav li {
  padding-left: 1rem;
}

nav a {
  text-decoration: none;
  color: black;
}

/* about */
#about {
  border: 2px solid #233766;
  padding: 20px;
  margin: 2rem;
  text-align: center;
}

table,
th,
td {
  border: 1px solid white;
  background: #65759c;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
}

/* Form */
#signup {
  background-size: cover;
  background-position: center;
  padding: 20px 10% 0 10%;
  flex-grow: 1;
}


#signup-form {
  color: #ffffff;
  background-color: rgba(60, 60, 60, 0.6);
  padding: 30px;
}


#signup-form>h2 {
  color: #fafafa;
  margin-bottom: 20px;
}


.text-input {
  background: transparent;
  color: #fafafa;
  width: 100%;
  height: 25px;
  margin: 5px 0 20px 0;
  border: 1px solid #fafafa;
  border-radius: 2px;
  padding: 0 5px;
}

.join-button {
  margin-top: 20px;
  border-radius: 2px;
  padding: 15px 32px;
  font-size: 100%;
  background-color: #233766;
  color: #fafafa;
}

/* contact */
#contact {
  text-align: center;
}

.contact {
  text-align: center;
}


/* Footer */
#social-networks {
  text-align: center;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
}

#social-networks i {
  font-size: 160%;
  padding: 5%;
  color: #60609a;
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 1200px) {

  table,
  th,
  td {
    width: 30%;
  }
}